.cart {
  width: 800px;
  background-color: var(--light-color);
  padding: 1.4rem 2rem;
  margin: 2rem 0;
  border-radius: 10px;
}

.cart_page__link {
  margin: 1.4rem 0 1rem 2rem;
  text-decoration: none;
  font-size: var(--font-medium);
  color: var(--secondary-color);
  &:hover {
    cursor: pointer;
    text-decoration: underline 1px var(--secondary-color);
  }
}

.cart__title {
  text-align: center;
}

.cart__coupon_container {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 1rem;
}

.cat__input {
}

.cart__coupon_btn {
  // margin: 0;
}

.cart__coupon_error {
  color: red;
}

.cart__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  margin: auto;
}
