.cart {
  margin: 2.5% 0;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.869);
}

.cart__title {
  margin: 0px;
  padding: 0.6rem;
  text-align: center;
  color: var(--secondary-color);
  background: var(--light-color);
}

.cart__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  gap: 5%;
  @media (min-width: 300px) and (max-width: 940px) {
    flex-direction: column;
  }
}

.cart__table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 74%;
  @media (min-width: 300px) and (max-width: 940px) {
    width: 94%;
    margin: 1% auto;
  }
}

.cart__table_header {
  margin: 0 0 2% 0;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  border-bottom: 2px solid var(--secondary-color);
  p {
    text-align: center;
    font-size: var(--font-large);
    color: var(--secondary-color);
    margin: 0;
    padding: 0.5rem 0;
    @media (min-width: 300px) and (max-width: 599px) {
      font-size: var(--font-small);
    }
    @media (min-width: 600px) and (max-width: 900px) {
      font-size: var(--font-medium);
    }
  }
}

.cart__table_empty {
  margin: 3% 0 0 0;
  text-align: center;
  font-size: var(--font-xlarge);
  color: var(--secondary-color);
}

.cart__button_container {
  display: flex;
  justify-content: space-between;
  margin: 2% 0 2% 2%;
}

.cart_page__link {
  margin: 0;
  font-size: var(--font-medium);
  text-decoration: none;
  color: var(--secondary-color);
  &:hover {
    cursor: pointer;
    text-decoration: underline 1px var(--secondary-color);
  }
}

.cart_page__btn.button {
  margin: auto 0;
  font-size: var(--font-medium);
  color: var(--light-color);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  &:hover {
    color: var(--primary-color);
    background: var(--light-color);
    border: 1px solid var(--primary-color);
  }
}

.cart__aside {
  width: 20%;
  padding: 1.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color-light);
  border-radius: 10px;
  @media (min-width: 300px) and (max-width: 940px) {
    width: 94%;
    margin: 0 auto;
  }
}
