main {
  width: 100%;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../public/assets/воздушные-шары.jpg');
}

body {
  width: 100%;
}
