.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-medium);
  padding: 0.3rem 0;
  p {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0;
  }
}

.summary__title {
  margin: 0 auto 4% auto;
  font-size: var(--font-xlarge);
  color: var(--primary-color);
}

.summary_subtotal {
}

.summary_discount {
  span {
    text-decoration: line-through 1px solid var(--primary-color);
    width: 5rem;
    padding: 0.2rem 0.7rem;
    text-align: center;
    font-size: var(--font-small);
    color: var(--light-color);
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color-light);
    border-radius: 5px;
  }
}

.summary_final {
  font-size: var(--font-medium);
  font-weight: 800;
  span {
    margin-left: 5px;
    color: var(--primary-color);
    width: 6rem;
    padding: 0.2rem 0.7rem;
    text-align: center;
    background-color: var(--light-color);
    border-radius: 5px;
  }
}
