.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.registration-form__form {
  width: 360px;
}
