.registration-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #50a29445;
}

.registration-form__form {
  width: 360px;
}

.col-2 {
  display: flex;
}

.registration-page__btn {
  margin: 15px 0;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid black;
  padding: 5px 8px;
  border-radius: 5px;
}
