button:focus {
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-xsmall);
  padding: 0.2rem 0.5rem;
  background-color: var(--light-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  transition: 0.5s ease;
  margin: auto;
  margin-top: 0.5em;
  width: 6rem;
  font-family: 'Iceland';
  &:hover {
    cursor: pointer;
    background: var(--primary-color-light);
    color: var(--light-color);
    border-color: var(--primary-color-light);
  }
}

.button-main {
  width: 8em;
}

.button:disabled {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
  cursor: default;
  border: 1px solid rgb(155, 155, 155);
}

.button-pagination {
  font-size: var(--font-medium);
  font-family: 'Iceland';
  width: 55px;
  height: 55px;
  border-radius: 50%;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.close {
  position: absolute;
  right: -4.5%;
  z-index: 1;
  top: -6%;
  font-size: var(--font-medium);
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 2;
  background-color: var(--light-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Iceland';
  &:hover {
    background-color: var(--primary-color-light);
    color: var(--light-color);
    border: 1px solid var(--primary-color-light);
  }
}

@media screen and (max-width: 768px) {
  .button-pagination {
    font-size: var(--font-small);
    width: 50px;
    height: 50px;
    margin: 0;
  }

  .close {
    right: -5.5%;
    top: -8%;
  }
}

@media screen and (max-width: 485px) {
  .button-pagination {
    width: 45px;
    height: 45px;
  }

  .colors-button-show-all.button {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    margin-top: 0.4em;
    width: 4.5rem;
  }

  .colors-button-reset.button {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    margin-top: 0.4em;
    width: 4.5rem;
  }
}

.primary_button {
  text-decoration: none;
  font-family: 'Iceland';
  text-align: center;
  font-size: var(--font-medium);
  color: var(--light-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: 0.2s ease;
  &:hover {
    cursor: pointer;
    background-color: var(--light-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  @media (min-width: 210px) and (max-width: 768px) {
    font-size: 80%;
  }
}

.secondary_button {
  text-decoration: none;
  font-family: 'Iceland';
  text-align: center;
  font-size: var(--font-medium);
  color: var(--light-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  transition: 0.2s ease;
  &:hover {
    cursor: pointer;
    background-color: var(--light-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
  @media (min-width: 210px) and (max-width: 768px) {
    font-size: 80%;
  }
}

.dark_button {
  text-decoration: none;
  font-family: 'Iceland';
  text-align: center;
  font-size: var(--font-medium);
  color: var(--dark-color);
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  transition: 0.2s ease;
  &:hover {
    cursor: pointer;
    background: var(--dark-color);
    border: 1px solid var(--dark-color);
    color: var(--light-color);
  }
  @media (min-width: 210px) and (max-width: 768px) {
    font-size: 80%;
  }
}
