button:active {
  background-color: #ccc;
}

button:focus {
  outline: none;
}

.button-pagination {
  font-size: 1.2rem;
  width: 60px;
  height: 55px;
  border-radius: 60px;
  z-index: 1;
  background-color: white;
  color: #50a294;
  border: 1px solid #50a294;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Iceland';
}

.button-pagination:hover {
  background-color: #ff814e;
  color: white;
  border: 1px solid #ff814e;
}

.button-info {
  position: relative;
  bottom: 10%;
  background-color: #ff814e;
  color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0;
  width: 10em;
  font-size: 1.6vw;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: 'Iceland';
}

.button-info:hover {
  background-color: #fe4004;
  color: white;
}

.close {
  font-size: 1.2rem;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  background-color: white;
  color: #50a294;
  border: 1px solid #50a294;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Iceland';
}

.close:hover {
  background-color: #ff814e;
  color: white;
  border: 1px solid #ff814e;
}
