.main-container-catalog {
  flex-grow: 1;
  width: 100%;
}

.catalog-container {
  width: 90%;
  margin: auto;
  padding: 4% 0;
}

.catalog-container-product {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.product-card-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 40vh;
  border: 1px solid black;
  align-items: center;
}

.product-card-image img {
  position: relative;
  width: 50%;
  top: 10%;
}

.product-card-category {
  text-transform: uppercase;
}

.product-card-name {
  width: 80%;
  max-height: 60%;
}

.product-card-price {
  font-weight: 900;
  position: relative;
  bottom: 1%;
}
.catalog-container-sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.product-select {
  margin-left: 3vw;
}
