.head {
  background-color: #ffffff;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 35%;
  display: flex;
  flex-direction: row;
}

.headnav {
  align-items: center;
  width: 60%;
  position: relative;
  left: 40%;
  justify-content: space-between;
  display: inline-flex;
}

.logo-picture {
  width: 20%;
  height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/assets/вата.png');
}

.store-title {
  width: 80%;
}

.store-name {
  list-style-type: none;
  text-decoration: none;
  color: #fe4004;
  margin: 0;
  font-size: 1.6vw;
}

.slogan {
  color: #ff814e;
  font-size: 1vw;
  white-space: nowrap;
}

.links {
  font-size: 1.3vw;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart a {
  color: #2a2a2a;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  left: 5%;
  font-size: 1.1vw;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
  width: 6em;
  text-align: center;
  font-size: 1.1vw;
  color: white;
  list-style-type: none;
  text-decoration: none;
  background: #fe4004;
  border: 1px solid #fe4004;
  border-radius: 5px;
  text-align: center;
}

.login:hover {
  background: white;
  border: 1px solid #fe4004;
  color: #fe4004;
}

.register {
  color: #50a294;
  border: 1px solid #50a294;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
  width: 6em;
  text-align: center;
  font-size: 1.1vw;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.register:hover {
  background: #50a294;
  border: 1px solid #50a294;
  color: white;
}

.logout {
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
  width: 6em;
  text-align: center;
  font-size: 1.1vw;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.logout:hover {
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
  color: white;
}
