.head {
  background-color: var(--light-color);
  align-items: center;
  padding: 7px;
}

.logo {
  width: 35%;
  display: flex;
  flex-direction: row;
}

.headnav {
  align-items: center;
  width: 60%;
  position: relative;
  left: 40%;
  justify-content: space-between;
  display: inline-flex;
}

.logo-picture {
  width: 20%;
  height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-title {
  width: 80%;
}

.store-name {
  list-style-type: none;
  text-decoration: none;
  color: var(--primary-color);
  margin: 0;
  font-size: 1.7vw;
}

.slogan {
  color: var(--primary-color-light);
  font-size: 1.1vw;
  white-space: nowrap;
}

.links {
  font-size: 1.3vw;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart a {
  color: var(--dark-color);
  list-style-type: none;
  text-decoration: none;
  position: relative;
  left: 5%;
  font-size: 1.2vw;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
  width: 5em;
  text-align: center;
  font-size: 1.1vw;
  color: var(--light-color);
  list-style-type: none;
  text-decoration: none;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.login:hover {
  background-color: var(--light-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.register {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
  width: 5em;
  text-align: center;
  font-size: 1.1vw;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.register:hover {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--light-color);
}

.logout {
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0;
  width: 5em;
  text-align: center;
  font-size: 1.1vw;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.logout:hover {
  background: var(--dark-color);
  border: 1px solid var(--dark-color);
  color: var(--light-color);
}
