.coupon-card {
  width: 80px;
  flex: 0 0 32%;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-color);
  margin-right: 2%;
}

.coupon-card:last-child {
  margin-right: 0;
}

.coupon-card-title {
  position: relative;
  top: 10%;
  margin: 10px 0;
  width: 60%;
  text-align: center;
  font-size: var(--font-xlarge);
}

.coupon-card-img {
  width: 40%;
  height: 40%;
}
