.catalog-container-sidebar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 200px;
  background: var(--light-color);
  border-right: 1px solid var(--secondary-color-light);
}

@media (max-width: 850px) {
  .catalog-container-sidebar {
    min-width: 170px;
  }
}

@media (max-width: 576px) {
  .catalog-container-sidebar {
    min-width: 150px;
  }
}

@media (max-width: 485px) {
  .catalog-container-sidebar {
    min-width: 120px;
  }
}
