.item__container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr 2fr 1fr;
  grid-gap: 1rem;
}

.item__col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__image {
  width: 2rem;
}

.item__quantity_btn {
  height: 80%;
  background-color: var(--primary-color-light);
  border: none;
  &:hover {
    cursor: pointer;
  }
}
