.pagination {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2% 0%;
}

// .pagination-button:first-child {
//   position: relative;
//   left: 0px;
// }

.pagination-button {
  background-color: var(--light-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0;
  width: 5em;

  &:hover:not(.active) {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 1px solid var(--primary-color);
  }

  &.active {
    background-color: var(--primary-color);
    color: var(--light-color);
  }
  &:disabled {
    pointer-events: none;
    color: rgb(155, 155, 155);
    border: 1px solid rgb(155, 155, 155);
    margin: 0;
    padding: 0;
    width: 5em;
  }
}

.pagination-button-container-number {
  display: flex;
  margin: auto;
  gap: 1rem;
}

.pagination-button-number {
  width: 30px;
  height: 30px;
  font-family: 'Iceland';
  margin: 0;

  &:hover:not(.active) {
    box-shadow: 0 0 10px var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--light-color);
    border-color: var(--secondary-color);
  }

  &.active {
    background-color: var(--primary-color-light);
    color: var(--light-color);
    border-color: var(--primary-color-light);
    margin: 0;
  }
}
