.head {
  background-color: #ffffff;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 35%;
  display: flex;
  flex-direction: row;
}

.headnav {
  align-items: center;
  width: 60%;
  position: relative;
  left: 40%;
  justify-content: space-between;
  display: inline-flex;
}

.logo-picture {
  width: 15%;
  height: 50%;
}

.logo-picture img {
  width: 90%;
}

.store-title {
  width: 85%;
}

.store-name {
  list-style-type: none;
  text-decoration: none;
  color: #fe4004;
  margin: 0;
  font-size: 2.1vw;
}

.slogan {
  color: #ff814e;
  font-size: 1.3vw;
  white-space: nowrap;
}

.links {
  font-size: 1.3vw;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart a {
  color: #2a2a2a;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  left: 5%;
  font-size: 1.3vw;
}

.login {
  color: white;
  list-style-type: none;
  text-decoration: none;
  background: #fe4004;
  border-radius: 5px;
  padding: 2px 15px;
}

.register {
  color: #50a294;
  list-style-type: none;
  text-decoration: none;
  border: 1px solid #50a294;
  border-radius: 5px;
  padding: 2px 15px;
}

.logout {
  color: #2a2a2a;
  list-style-type: none;
  text-decoration: none;
  border: 1px solid #2a2a2a;
  border-radius: 5px;
  padding: 2px 15px;
}
