.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
}

[class^='ball-'] {
  position: absolute;
  display: block;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transition: all 0.5s;
  animation: circleRotate 4s both infinite;
  transform-origin: 0 250% 0;
}
@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

.ball-1 {
  z-index: -1;
  background-color: #fa599d;
  animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
}
.ball-2 {
  z-index: -2;
  background-color: #fcb199;
  animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
}
.ball-3 {
  z-index: -3;
  background-color: var(--primary-color);
  animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
}
.ball-4 {
  z-index: -4;
  background-color: var(--primary-color-light);
  animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
}
.ball-5 {
  z-index: -5;
  background-color: #fdfea3;
  animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
}
.ball-6 {
  z-index: -6;
  background-color: #d5e038;
  animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
}
.ball-7 {
  z-index: -7;
  background-color: var(--secondary-color-light);
  animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
}
.ball-8 {
  z-index: -8;
  background-color: var(--secondary-color);
  animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
}

.surround {
  width: 33.2px;
  height: 100%;
  position: relative;
}

.loading {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: auto;
}

@keyframes load {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    transform: scale(1, 1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loading li {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 1px;
  border-radius: 50%;
  border: 1px solid var(--primary-color-light);
  opacity: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  animation-name: load;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.loading li:nth-child(2) {
  animation-delay: 0.1s;
}
.loading li:nth-child(3) {
  animation-delay: 0.2s;
}
