.item__container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 3rem;
  border: 1px solid salmon;
}

.item__col {
  width: 10%;
  align-self: center;
}

.item__image {
  height: 2.5rem;
}

.item__delete_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.item__quantity_btn {
  background-color: white;
  border: 1px solid black;
}

.item__col.quantity {
  display: flex;
  justify-content: space-between;
}
