@media screen and (max-width: 1440px) {
  .head {
    background-color: var(--light-color);
    align-items: center;
    padding: 5px;
  }

  .logo-img {
    width: 45%;
  }

  .logo {
    display: flex;
    flex-direction: row;
  }

  .headnav {
    align-items: center;
    width: 60%;
    position: relative;
    left: 40%;
    justify-content: space-between;
    display: inline-flex;
  }

  .logo-picture {
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .store-title {
    width: 80%;
  }

  .store-name {
    list-style-type: none;
    text-decoration: none;
    color: var(--primary-color);
    margin: 0;
    font-size: var(--font-large);
    width: 40%;
  }

  .slogan {
    color: var(--primary-color-light);
    font-size: var(--font-xsmall);
    display: flex;
  }

  .registration-links {
    font-size: var(--font-medium);
    width: 25%;
    display: flex;
    justify-content: space-between;
  }

  .cart {
    display: flex;
    flex-wrap: wrap;
    color: var(--dark-color);
    list-style-type: none;
    text-decoration: none;
    position: relative;
    font-size: var(--font-xsmall);
  }

  .cart a {
    color: var(--dark-color);
    list-style-type: none;
    text-decoration: none;
    font-size: var(--font-xsmall);
  }

  .login {
    margin-right: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0;
    width: 8vw;
    text-align: center;
    font-size: var(--font-xsmall);
    color: var(--light-color);
    list-style-type: none;
    text-decoration: none;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }

  .login:hover {
    background-color: var(--light-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  .register {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0;
    width: 8vw;
    text-align: center;
    font-size: var(--font-xsmall);
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }

  .register:hover {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--light-color);
  }

  .logout {
    font-family: 'Iceland';
    background-color: var(--light-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0;
    width: 8vw;
    text-align: center;
    font-size: var(--font-xsmall);
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }

  .logout:hover {
    background: var(--dark-color);
    border: 1px solid var(--dark-color);
    color: var(--light-color);
  }
}
@media screen and (max-width: 768px) {
  .head {
    padding: 4px 70px;
  }

  .logo-img {
    width: 100%;
  }

  .headnav {
    left: 0%;
    width: 100%;
    margin: auto;
  }

  .logo-picture {
    width: 12%;
    height: 100%;
  }

  .store-title {
    width: 75%;
  }

  .store-name {
    margin: 0;
    font-size: var(--font-medium);
    width: 30%;
  }

  .slogan {
    font-size: var(--font-xsmall);
  }

  .registration-links {
    font-size: 0.8rem;
    width: 25%;
    justify-content: space-evenly;
  }

  .cart a {
    left: 4%;
    font-size: 0.8rem;
  }

  .login {
    padding: 0.15em 0;
    width: 4em;
    font-size: 0.8rem;
    color: var(--light-color);
    border-radius: 5px;
  }

  .register {
    border: 1px solid var(--secondary-color);
    padding: 0.15em 0;
    width: 4em;
    font-size: 0.8rem;
    border-radius: 5px;
  }

  .logout {
    border: 1px solid var(--dark-color);
    padding: 0.15em 0;
    width: 4em;
    font-size: 0.8rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (min-width: 380px) and (max-width: 485px) {
  .head {
    padding: 4px 30px;
  }

  .logo-img {
    width: 100%;
  }

  .headnav {
    left: 0%;
    width: 100%;
    margin: auto;
  }

  .logo-picture {
    width: 12%;
    height: 100%;
  }

  .store-title {
    width: 80%;
  }

  .store-name {
    margin: 0;
    font-size: 0.9rem;
    width: 30%;
  }

  .slogan {
    font-size: 0.6rem;
  }

  .registration-links {
    font-size: 0.8rem;
    width: 25%;
    justify-content: space-evenly;
  }

  .cart a {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    left: 4%;
    font-size: 0.7rem;
  }

  .login {
    padding: 0.15em 0;
    width: 4em;
    font-size: 0.7rem;
    color: var(--light-color);
    border-radius: 5px;
  }

  .register {
    border: 1px solid var(--secondary-color);
    padding: 0.15em 0;
    width: 4em;
    font-size: 0.7rem;
    border-radius: 5px;
  }

  .logout {
    border: 1px solid var(--dark-color);
    padding: 0.15em 0;
    width: 4em;
    font-size: 0.7rem;
    border-radius: 5px;
  }
}
