.cart__modal-wrapper {
  position: relative;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 1.4em;
  z-index: 1;
  gap: 2rem;
  border-radius: 10px;
  max-width: 280px;
}

.cart__modal-wrapper > * {
  display: flex;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}
