.footer {
  background-color: #2a2a2a;
  color: #50a294;
  display: flex;
  justify-content: space-between;
  padding: 1% 7%;
}

.column {
  margin-right: 2%;
}

.column h3 {
  margin-bottom: 10px;
  font-weight: inherit;
}

.column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.column ul li {
  margin-bottom: 5px;
}

.column ul li a {
  color: #50a294;
  text-decoration: none;
}

.column p {
  margin: 0;
}

.column a:hover {
  color: white;
}

.column-phone-number {
  color: #fe4004;
}

.column a::before {
  height: 5%;
  content: url('../../../public/assets/салют.png');
  background-size: contain;
  opacity: 0;
  transition:
    width 0.5s,
    opacity 0.5s;
}

.column a:hover::before {
  height: 5%;
  width: 30px;
  opacity: 1;
}
