.not-found-page {
  background: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 500px;
  justify-content: space-around;
}

.not-found-page-text {
  display: flex;
  text-align: center;
  color: var(--primary-color-light);
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  width: 50%;
}

h3 {
  color: var(--secondary-color);
}

.not-found-page-text a {
  margin-top: 2%;
  background: var(--primary-color-light);
  color: var(--dark-color);
  position: relative;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0;
  width: 10em;
  font-size: 1.6vw;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.not-found-page-text a:hover {
  color: var(--light-color);
  background: var(--primary-color);
}
img {
  width: 40%;
}

.not-found-page-img {
  position: relative;
  top: 5%;
}
