@import '../../../index.scss';

.nav {
  @extend %flex-col;
  align-items: center;
  background: var(--secondary-color);
  color: var(--light-color);
  padding: 5px;
}

.menu-links-item {
  width: 8em;
  padding: 0.4em 0;
  @extend %flex-row;
  @extend %secondary_button;
  font-size: var(--font-small);
  &:hover {
    color: var(--light-color);
    background: var(--primary-color-light);
  }
  @media (min-width: 210px) and (max-width: 575px) {
    text-align: left;
    width: 4em;
  }
}

.navigation-container {
  @extend %flex-row;
  justify-content: space-between;
  width: 60%;
  @media (min-width: 210px) and (max-width: 575px) {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    justify-content: space-between;
    width: 90%;
  }
}

.menu-toggle {
  display: none;
  flex-direction: column;
  background-color: transparent;
  border: none;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
  }
  &.active {
    transform: rotate(-90deg) translate(-5px, 6px);
    align-self: flex-start;
  }
  @media (min-width: 210px) and (max-width: 575px) {
    display: flex;
    .bar {
      width: 25px;
      height: 2px;
      background-color: var(--light-color);
      margin: 3px 0;
    }
  }
}

.menu-links {
  @extend %flex-row;
  @media (min-width: 210px) and (max-width: 575px) {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
      align-items: flex-start;
      order: 2;
      width: 100%;
      margin: 0.5rem 0 0.1rem 0;
    }
  }
}

.navigation-text-field-container {
  @extend %flex-row;
  height: calc(1.2rem + 2px);
  width: 30%;
  @media (min-width: 210px) and (max-width: 575px) {
    align-self: flex-start;
    align-items: center;
    width: 200px;
    margin-top: 2px;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    width: 20%;
  }
}

.navigation-text-field__input {
  display: block;
  width: 80%;
  height: 100%;
  padding: 0.375rem 0rem 0.375rem 0.7rem;
  font-size: var(--font-xsmall);
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-color);
  background-color: var(--light-color);
  background-clip: padding-box;
  border: none;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;
  &:disabled,
  &[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
  }
  &::placeholder {
    color: var(--dark-color);
    opacity: 0.4;
  }
  &:focus {
    color: var(--dark-color);
    background-color: var(--light-color);
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }
}

.navigation-text-field__aicon {
  @extend %flex-row;
  height: 100%;
  width: 2.5rem;
  background-color: var(--light-color);
  color: var(--secondary-color);
  transition: background-color 0.15s ease-in-out;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  transition: background-color 0.5s ease;
  &:hover {
    cursor: pointer;
    background-color: var(--primary-color-light);
    color: var(--light-color);
  }
}
