@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Iceland';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #fe4004;
  --primary-color-light: #ff814e;
  --secondary-color: #50a294;
  --dark-color: #2a2a2a;
  --light-color: #ffffff;
}
