@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
  margin: 0;
  font-family: 'Iceland';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --primary-color: #fe4004;
  --primary-color-light: #ff814e;
  --secondary-color: #50a294;
  --secondary-color-light: #b7ede4;
  --dark-color: #2a2a2a;
  --light-color: #ffffff;
  --font-xsmall: 1rem;
  --font-small: 1.1rem;
  --font-medium: 1.2rem;
  --font-large: 1.4rem;
  --font-xlarge: 1.7rem;
}

#root {
  @extend %flex-col;
  min-height: 100vh;
}

.main-container {
  @extend %flex-row;
  flex-grow: 1;
  width: 100%;
  background-size: cover;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page__link {
  text-decoration: none;
  margin: 1.4rem 0 1rem 0;
  font-size: var(--font-medium);
  color: var(--secondary-color);
  &:hover {
    cursor: pointer;
    text-decoration: underline 1px var(--secondary-color);
  }
}
