.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image: url('../../assets/big-balloons.jpg');
}

.login-page__form {
  background-color: var(--primary-color-light);
  padding: 1.4rem 2rem 0 2rem;
  border-radius: 10px;
}

.login-page__btn {
  width: 5rem;
  padding: 0.3rem 0;
  margin: 1.4rem 0 1rem 0;
  font-family: 'Iceland';
  text-align: center;
  font-size: var(--font-medium);
  color: var(--light-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: var(--light-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
}
