.login-page {
  text-align: center;
  background-image: url('../../assets/background-login-page.jpeg');
  font-size: initial;
}

.login-page__form {
  background-color: var(--primary-color-light);
  padding: 1.4rem 2rem 0 2rem;
  border-radius: 10px;
}

.login-page__btn {
  padding: 0.2rem 1rem;
  margin: 1.4rem 0 1rem 0;
}
