.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-image: url('../../assets/big-balloons.jpg');
}

.registration-page__form {
  width: 600px;
  margin: 20px auto;
  padding: 15px 25px;
  background-color: var(--light-color);
  border-radius: 10px;
}

.registration-page__col-2 {
  display: flex;
}
.registration-page__col-1 {
  display: flex;
  justify-content: center;
}

.registration-page__spacing {
  width: 26px;
}

.registration-page__btn {
  width: 8em;
  padding: 0.2em 0;
  margin-top: 1rem;
  font-family: 'Iceland';
  text-align: center;
  font-size: var(--font-medium);
  color: var(--light-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: var(--light-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}

.MuiFormLabel-root,
.MuiInputLabel-root,
.MuiInputLabel-formControl,
.MuiInputLabel-animated,
.MuiInputLabel-sizeSmall,
.MuiInputLabel-outlined,
.MuiFormLabel-colorPrimary,
.MuiInputLabel-root,
.MuiInputLabel-formControl,
.MuiInputLabel-animated,
.MuiInputLabel-sizeSmall,
.MuiInputLabel-outlined,
.css-17l1wxi-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Iceland', sans-serif;
}
