.slider {
  width: 95%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4% 0 2% 0;
  gap: 2%;
}

.slide-container {
  display: flex;
  width: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
}

.slider-indicator {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.slider__indicator-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--light-color);
  margin: 0 5px;
  transition: background-color 0.5s ease;
}

.slider__indicator-dot.active {
  background-color: var(--primary-color);
}
